<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="True" proxyaddress="http://192.168.6.253:8118/"/>
    </defaultProxy>
  </system.net>
</configuration>
